* {
    font-family: cursive; 
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(images/background.jpg);
}


h1 {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding-left: 25em;
    font-size: 2.5em; color: rgb(255, 255, 255);
    text-shadow: -3px -1px 0px black;
}

.container {
     position: relative;
     display: block;
     width: 600px; min-width: 600px; max-height: 500px;
     margin-left: 52.5em; padding-bottom: 0.5em;
     box-shadow: 0px -1px 5px 2px rgb(0, 0, 0); border-radius: 2em;
}

.addItem {
    display: flex; justify-content: center;
    max-width: 100%; padding-top: 0.5em;
}

.inputHolder {
    margin-top: 0.5em; padding: 0.2em 1em 0.3em 1em;
    border: none; border-radius: 5em;
    background-color: rgb(201, 201, 201); 
    font-size: 1.2em; color: rgb(0, 0, 0);
    outline: none;
}

.inputHolder:focus {
    box-shadow: 0px -1px 2px 1px rgb(0, 0, 0)
}

.addButton {
    margin-top: 0.7em; margin-bottom: 0.1em; margin-left: 0.5em;
    background-color: rgb(201, 201, 201); ;
    border-radius: 5em;
    outline: none;
    font-weight: 500    ;
    font-size: 1em;
}

.addButton:hover{
    cursor: pointer;
}

.addButton:active {
    box-shadow: 0 1px rgb(0, 0, 0);
    transform: translate(3px);
}

.list {
    list-style-type: none;
    align-items: center;
}

.storedItem {
   max-width: 90%;
   padding-bottom: 0.3em;
   padding-top: 0.5em;
   display: flex;
   justify-content: space-between;
   font-size: large; font-weight: 545; color: white;
   border-bottom: 2px solid rgb(255, 255, 255);
}

.storedItem:hover {
    cursor: pointer;
}

.removeIcon {
    background-image: url(images/icon.png);
    border-radius: 0.5em;
    display: block;
    width: 20px;
    height: 20px;
}

.removeIcon:hover {
    cursor: pointer;
}

.itemBought {
    text-decoration: line-through;
}
